body {
  margin: 0;
}

img {
  width: 100%;
}

input,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 18px;
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.avatar {
  min-width: 53px;
  min-height: 53px;
  background: url("../img/2013.jpg");
  background-size: 100%;
  border-radius: 50%;
}

.description {
  margin-left: 9px;
}

.description__name {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: #2b2a2c;
  font-weight: bold;
}

.description__small {
  font-size: 12px;
  color: #6a696b;
}

.menuList {
  -ms-flex-preferred-size: 600px;
  flex-basis: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menuList__item {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #2b2a2c;
  font-weight: bold;
  position: relative;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.menuList__item:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 50%;
  bottom: -5px;
  background: #2b2a2c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menuList__item:hover:before {
  width: 100%;
  left: 0;
  background: #78757a;
}

.menu__button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #2b2a2c;
  border-radius: 50px;
  background: none;
  color: #2a2b2c;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.menu__button:hover {
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.menu__button:visited {
  color: #2a2b2c;
}

.buttonMenuBox {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.buttonMenuBox span,
.buttonMenuBox span:before,
.buttonMenuBox span:after {
  display: block;
  width: 18px;
  height: 2px;
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
  background-color: #2b2a2c;
}

.buttonMenuBox span:before {
  content: '';
  margin-top: -6px;
}

.buttonMenuBox span:after {
  content: '';
  margin-top: 4px;
}

.main {
  padding-top: 112px;
  padding-bottom: 112px;
  background: url("../img/hero/bgc.jpg") no-repeat center;
}

.hero-subtitle {
  font-size: 32px;
}

.hero-title {
  font-size: 45px;
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hero-description {
  font-size: 18px;
  color: #6a696b;
}

.hero-social {
  margin-top: 30px;
}

.social {
  display: inline-block;
  width: 41px;
  height: 41px;
  margin-right: 12px;
  color: #ffffff;
  text-align: center;
  line-height: 41px;
}

.vk-bg {
  background-color: #56acef;
}

.git-bg {
  background-color: black;
}

.hero-buttons {
  margin-top: 42px;
}

.projects {
  padding-top: 70px;
}

.project-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.project-card {
  min-height: 300px;
  max-width: 400px;
  width: 300px;
  border-radius: 10px 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

.project-card:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.project-date {
  color: #2a2b2c;
}

.project-date :visited {
  color: #2a2b2c;
}

.project-card__image {
  height: 250px;
}

.cake {
  background: url("../img/projects/cake.jpg") center no-repeat;
  background-size: 100%;
}

.door {
  background: url("../img/projects/door.jpg") center no-repeat;
  background-size: 100%;
}

.legal {
  background: url("../img/projects/legal.jpg") center no-repeat;
  background-size: 100%;
}

.cert {
  background: url("../img/projects/cert.jpg") center no-repeat;
  background-size: 100%;
}

.project-card__info {
  padding: 19px 13px;
}

.project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}

.project-category {
  display: block;
  font-size: 12px;
}

.project-iconBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 40px;
  flex-basis: 40px;
}

.imageBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: relative;
}

.divider {
  width: 10px;
  background-color: #fff;
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: absolute;
  height: 100%;
  z-index: 1000;
}

.imageBlock {
  overflow: hidden;
  position: absolute;
  width: 100px;
}

.imageBlock_left {
  left: 0;
  top: 0;
  z-index: 3;
}

.imageBlock_right {
  left: 0;
  top: 0;
  z-index: 1;
}

.button {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  background-color: #2a2b2c;
  border-radius: 50px;
  padding: 20px 34px;
  display: inline-block;
  margin-bottom: 10px;
}

.button:hover {
  background-color: black;
}

.button-primary {
  color: #ffffff;
}

.button-o {
  background-color: transparent;
  color: #6a696b;
  border: 2px solid #6a696b;
  margin-left: 7px;
}

.button-o:hover {
  background-color: transparent;
  border: 2px solid black;
  color: black;
}

.button-open {
  background-color: transparent;
  font-size: 10px;
  color: #6a696b;
  border: 2px solid #6a696b;
  padding: 2px 10px;
  display: inline-block;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 70px;
  margin-top: 10px;
}

.about {
  padding: 100px 0 70px;
  margin-bottom: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("../img/about/bgc.png") no-repeat left;
}

.me-photo {
  width: 542px;
  height: 606px;
  background: url("../img/about/bgc.png") no-repeat center;
  background-size: 100%;
}

.about-me__info {
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px;
}

.about-me__info-title {
  font-size: 45px;
  text-transform: uppercase;
}

.lorem {
  font-family: Montserrat;
  font-size: 16px;
  margin-bottom: 52px;
  line-height: 20px;
  color: #717072;
}

.footer {
  background-color: #2b2a2c;
  padding: 20px 0;
  color: #8d8d8e;
}

.footer a {
  color: #8d8d8e;
  text-decoration: none;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.copyright {
  padding-right: 16px;
  margin-right: 16px;
  border-right: 1px solid #413f41;
  font-size: 14px;
}

.footer-social__link {
  font-size: 20px;
  margin-right: 13px;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px;
}

.footer-menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-menu a {
  font-size: 14px;
}

.footer-button {
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #8d8d8e;
  padding: 8px 22px;
}

.footer-button:hover {
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  /*************************main*****************************************/

  .main {
    background: url("../img/hero/bgc.jpg") no-repeat right bottom;
    background-position: 70% 25px;
  }

  /**********************************************************************/

  /*************************about****************************************/

  .about {
    padding: 0px 0 100px;
    margin-bottom: 0px;
    background: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about-me__info {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  /**********************************************************************/

  /*************************footer****************************************/

  .footer-button {
    display: none;
  }

  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 400px;
    flex-basis: 400px;
  }

  .footer-menu nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  /**********************************************************************/
}

@media screen and (max-width: 576px) {
  .hideSM {
    display: none;
  }

  .showSM {
    display: block;
  }

  /************************************Menu*******************************/

  .menu {
    position: relative;
    display: block;
    width: 100%;
  }

  .menuList {
    margin-top: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menuList__item {
    text-align: center;
    display: block;
    margin-bottom: 5px;
  }

  .menuList__item:before {
    display: none;
  }

  .menuList__item:hover:before {
    display: none;
  }

  .buttonMenuBox {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
  }

  /***********************************************************************/

  /**********************************Main*********************************/

  .main {
    padding-top: 30px;
    padding-bottom: 0px;
    background: none;
  }

  .hero-subtitle {
    font-size: 20px;
  }

  .hero-title {
    font-size: 25px;
    font-weight: 800;
  }

  .hero-buttons {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .button {
    padding: 15px 30px;
    font-size: 14px;
  }

  /***********************************************************************/

  /************************projects****************************************/

  .project-cards {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .project-card {
    max-width: 500px;
    width: 500px;
  }

  /***********************************************************************/

  /*************************about****************************************/

  .about {
    padding: 0px 0 50px;
  }

  /*********************************************************************/

  /*****************************footer******************************/

  .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 15px;
  }

  .footer-social__link {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  /*******************************************************************/
}

@media screen and (max-width: 320px) {
  /***********************menu****************/

  .description__name {
    font-size: 12px;
  }

  /*******************************************/

  /**********************************Main****************************/

  .hero-buttons {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /*******************************************************************/

  /*****************************footer******************************/

  .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .copyright {
    font-size: 10px;
  }

  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
  }

  .footer-menu nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .footer-menu nav a {
    margin-bottom: 10px;
  }

  /*******************************************************************/
}