.about {
    padding: 100px 0 70px;
    margin-bottom: 105px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: url('../img/about/bgc.png') no-repeat left; 
    background-size: 40%; 
  }

  .about-me__info {
    flex-basis: 500px;
  }
  .about-me__info-title {
    font-size: 45px;
    text-transform: uppercase;
  }
  
  .lorem {    
    font-size: 20px;
    margin-bottom: 52px;
    line-height: 150%;
    color: #717072;
  }