@media screen and (max-width: 576px){

    .hideSM{
        display: none;
    }

    .showSM{
        display: block;
    }


 /************************************Menu*******************************/   
    .menu {
        position: relative;
        display: block;        
        width: 100%;   
    }

    .menuList {
        margin-top: 10px;       
        align-items: center;
        &__item {
            text-align: center;
            display: block;
            margin-bottom: 5px;
            &:before {
                display: none;
            }
            &:hover {
                &:before {
                    display: none;
                }
            }
        }
      }

      .buttonMenuBox{
          position: absolute;
          top: 0px;
          right: 0px;
          z-index: 100;
      }

 /***********************************************************************/   

 /**********************************Main*********************************/  

    .main{
        padding-top: 30px;
        padding-bottom: 0px;
        background: none;
    }

    .hero-subtitle {
        font-size: 20px;
      }
      
      .hero-title {
        font-size: 25px;
        font-weight: 800;
      }
    
      .hero-buttons {
        margin-top: 30px;
        display: flex;        
      }
        
      .button {
        padding: 15px 30px;
        font-size: 14px;        
      }

 /***********************************************************************/ 

 /************************projects****************************************/ 
 .project-cards{
    justify-content: center;    
  }

  .project-card {
    max-width: 500px;
    width: 500px;
  }
 /***********************************************************************/ 

 /*************************about****************************************/ 
 .about {
  padding: 0px 0 50px;
}
 /*********************************************************************/ 

 
 /*****************************footer******************************/ 
 .footer-social{
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
}

.footer-social__link{
  flex-basis: 100%;
}

 /*******************************************************************/ 
}