@import 'colors.scss';
@import 'reset.scss';
@import 'menu.scss';
@import 'main.scss';
@import 'projects.scss';
@import 'interface.scss';
@import 'about.scss';
@import 'footer.scss';


body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.hide{
    display: none;
}


.up{
    width:50px;
    height: 50px;
    border:1px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:10px; 
    right:10px;
    cursor:pointer;
    display:none;
    color:#333;
    font-family:verdana;
    font-size:11px;
    border-radius: 10px;
    font-size: 25px;
    opacity: 0.65;
    z-index: 9999;
    &:hover{      
        background: #333;
        color: #fff;
    }
}
   



@import 'media1200.scss';
@import 'media768.scss';
@import 'media576.scss';
@import 'media320.scss';
